.more {
  color: var(--color);
}
.effective {
  color: var(--color1);
}
.moreEffectiveWay,
.toTrackProgress {
  margin: 0;
}
.moreEffectiveWayContainer {
  margin: 0;
  width: 42.188rem;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 5.5rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  font-family: 'Grotesk';
}
.progressTitle {
  width: 97.688rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-45xl);
}
.olulisedLingidChild {
  width: 31.75rem;
  height: 19.313rem;
  position: relative;
  box-shadow: var(--effect);
  border-radius: var(--br-7xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.linkIcon,
.linkIcon1 {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.linkIcon {
  width: 1.694rem;
  height: 1.256rem;
  right: 1.744rem;
  bottom: 1.244rem;
}
.linkIcon1 {
  height: 4.063rem;
  width: 3.938rem;
  top: -1.375rem;
  left: -2.062rem;
  border-radius: var(--br-12xs);
}
.standart {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  z-index: 2;
  font-family: 'Grotesk';
}
.tierFeatures,
.tierHighlights {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tierHighlights {
  position: relative;
}
.tierFeatures {
  padding: 0 var(--padding-12xs);
}
.free {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  min-width: 3.625rem;
  z-index: 1;
  font-family: 'Grotesk';
}
.additionalContactIcon {
  height: 2rem;
  width: 2rem;
  position: relative;
  border-radius: var(--br-12xs);
  min-height: 2rem;
  z-index: 1;
}
.freeTier {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--font-size-7xl);
}
.theStandardPlan {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 1.75rem;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
  font-family: 'RedHat';
}
.standardDescription,
.tierDetails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.standardDescription {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  font-family: var(--font-red-hat-display);
}
.tierDetails {
  width: 25.938rem;
  flex-direction: column;
  gap: var(--gap-2xs-5);
}
.alternativeContactEmailChild,
.olulisedLingid {
  position: relative;
  box-shadow: var(--effect);
  border-radius: var(--br-7xl);
  background-color: var(--color-white);
  max-width: 100%;
}
.olulisedLingid {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl) var(--padding-21xl) var(--padding-47xl);
  box-sizing: border-box;
  min-width: 23.813rem;
  min-height: 19.313rem;
  text-align: center;
}
.alternativeContactEmailChild {
  width: 31.75rem;
  height: 19.313rem;
  display: none;
  z-index: 0;
}
.contactPersonIcon {
  width: 1.694rem;
  height: 1.256rem;
  position: absolute;
  margin: 0 !important;
  right: 1.744rem;
  bottom: 1.244rem;
  z-index: 1;
}
.alternativeContactEmailItem {
  width: 2rem;
  height: 2rem;
  position: relative;
  border-radius: var(--br-12xs);
  display: none;
  z-index: 2;
}
.alternativeContactAddress {
  height: 4.063rem;
  width: 3.938rem;
  position: absolute;
  margin: 0 !important;
  top: -1.375rem;
  left: -2.062rem;
  border-radius: var(--br-12xs);
  z-index: 1;
}
.standart1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 5.375rem;
  z-index: 2;
  font-family: 'Grotesk';
}
.alternativeContactAddressParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.alternativeContactAddressParent {
  position: relative;
}
.frameWrapper {
  padding: 0 var(--padding-12xs);
}
.frameChild,
.free1 {
  position: relative;
  z-index: 1;
  font-family: 'Grotesk';
}
.free1 {
  letter-spacing: 0.02em;
  font-weight: 600;
}
.frameChild {
  height: 2rem;
  width: 2rem;
  border-radius: var(--br-12xs);
  min-height: 2rem;
}
.freeParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--font-size-7xl);
}
.theStandardPlan1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 1.75rem;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
  font-family: 'RedHat';
}
.frameParent,
.theStandardPlanOffersEssenWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.theStandardPlanOffersEssenWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  font-family: var(--font-red-hat-display);
}
.frameParent {
  width: 25.938rem;
  flex-direction: column;
  gap: var(--gap-2xs-5);
}
.alternativeContactEmail,
.infoinfoeeChild {
  position: relative;
  box-shadow: var(--effect);
  border-radius: var(--br-7xl);
  background-color: var(--color-white);
  max-width: 100%;
}
.alternativeContactEmail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl) var(--padding-21xl) var(--padding-47xl);
  box-sizing: border-box;
  min-width: 23.813rem;
  min-height: 19.313rem;
}
.infoinfoeeChild {
  width: 31.75rem;
  height: 19.313rem;
  display: none;
  z-index: 0;
}
.buttonIcon {
  width: 1.681rem;
  height: 1.256rem;
  position: absolute;
  margin: 0 !important;
  right: 1.981rem;
  bottom: 1.244rem;
  z-index: 1;
}
.frameItem,
.infoinfoeeItem {
  border-radius: var(--br-12xs);
}
.infoinfoeeItem {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: none;
  z-index: 2;
}
.frameItem {
  height: 4.063rem;
  width: 3.938rem;
  position: absolute;
  margin: 0 !important;
  top: -1.375rem;
  left: -2rem;
  z-index: 1;
}
.standart2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  z-index: 2;
  font-family: 'Grotesk';
}
.frameContainer,
.starParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.starParent {
  position: relative;
}
.frameContainer {
  padding: 0 var(--padding-12xs);
}
.free2 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  z-index: 1;
  font-family: 'Grotesk';
}
.accordionWithContent {
  height: 2rem;
  width: 2rem;
  position: relative;
  border-radius: var(--br-12xs);
  min-height: 2rem;
  z-index: 1;
}
.frameDiv,
.freeGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.freeGroup {
  gap: var(--gap-7xs);
}
.frameDiv {
  padding: 0 var(--padding-12xs);
  font-size: var(--font-size-7xl);
}
.theStandardPlan2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  line-height: 1.75rem;
  font-weight: 500;
  font-family: var(--font-red-hat-display);
  color: var(--color-dimgray-200);
  z-index: 1;
  font-family: 'RedHat';
}
.frameGroup {
  width: 25.875rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xs-5);
}
.frameGroup,
.infoinfoee,
.planComparison {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.infoinfoee {
  flex: 1;
  box-shadow: var(--effect);
  border-radius: var(--br-7xl);
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xl) var(--padding-20xl) var(--padding-47xl);
  box-sizing: border-box;
  position: relative;
  min-width: 23.813rem;
  min-height: 19.313rem;
}
.planComparison {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-19xl);
}
.maaametChild {
  width: 48.688rem;
  height: 19.188rem;
  position: relative;
  box-shadow: var(--effect);
  border-radius: var(--br-7xl);
  background-color: var(--color-white);
  display: none;
  width: 100%;
  z-index: 0;
}
.aadressiandmeteSsteemiEesm,
.planTitleChild {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.aadressiandmeteSsteemiEesm {
  width: 1.719rem;
  height: 1.25rem;
  right: 1.656rem;
  bottom: 1.25rem;
}
.planTitleChild {
  height: 4.063rem;
  width: 3.938rem;
  top: -1.375rem;
  left: -1.875rem;
  border-radius: var(--br-12xs);
}
.ironPlan {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  z-index: 2;
  font-family: 'Grotesk';
}
.planTitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  text-align: center;
}
.month,
.privaatneIcon {
  position: relative;
  z-index: 1;
}
.month {
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: 'Grotesk';
}
.privaatneIcon {
  height: 2.125rem;
  width: 2.125rem;
  border-radius: var(--br-12xs);
  min-height: 2.125rem;
}
.benefitDetail,
.planBenefits {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.benefitDetail {
  gap: var(--gap-7xs);
}
.planBenefits {
  padding: 0 var(--padding-10xs);
  font-size: var(--font-size-7xl);
}
.theStandardPlan3 {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 1.75rem;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
  font-family: 'RedHat';
}
.planDescription,
.planName {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.planDescription {
  flex-direction: row;
  padding: 0 0 0 var(--padding-4xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  font-family: var(--font-red-hat-display);
}
.planName {
  flex-direction: column;
  gap: var(--gap-4xs-5);
}
.maaamet,
.tagsChild {
  position: relative;
  box-shadow: var(--effect);
  border-radius: var(--br-7xl);
  background-color: var(--color-white);
  max-width: 50%;
}
.maaamet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-17xl) var(--padding-19xl) var(--padding-67xl);
  box-sizing: border-box;
  width: 45vw;
  height: 19.188rem;
  
}
.tagsChild {
  width: 48.813rem;
  height: 19.188rem;
  display: none;
  z-index: 0;
}
.frameInner,
.tagsIcon {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.tagsIcon {
  width: 1.725rem;
  height: 1.25rem;
  right: 1.656rem;
  bottom: 1.25rem;
}
.frameInner {
  height: 4.063rem;
  width: 3.938rem;
  top: -1.375rem;
  left: -2.062rem;
  border-radius: var(--br-12xs);
}
.ultraPlan {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  z-index: 2;
  font-family: 'Grotesk';
}
.starGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  text-align: center;
}
.month1 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  z-index: 1;
  font-family: 'Grotesk';
}
.monthWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.cardIcon {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  border-radius: var(--br-12xs);
  min-height: 2.125rem;
  z-index: 1;
}
.frameParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--font-size-7xl);
  
}
.theUltraPlan {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 1.75rem;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
  font-family: 'RedHat';
}
.frameParent1,
.tags,
.theUltraPlanIsOurTopTierWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.theUltraPlanIsOurTopTierWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-6xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  font-family: var(--font-red-hat-display);
}
.frameParent1,
.tags {
  flex-direction: column;
}
.frameParent1 {
  align-self: stretch;
  gap: var(--gap-4xs-5);
}
.tags {
  
  box-shadow: var(--effect);
  border-radius: var(--br-7xl);
  background-color: var(--color-white);
  padding: var(--padding-17xl) var(--padding-22xl) var(--padding-67xl);
  box-sizing: border-box;
  position: relative;
  width: 45vw;
  min-height: 19.188rem;
  margin-right: 10rem;
  
}
.planComparison1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-21xl);
  
  
}
.planComparison1,
.progressContent,
.progressContentWrapper {
  display: flex;
  align-items: flex-start;
  width: 95vw;
  margin-right: -4vw;
  
  
}
.progressContent {
  width: 100rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-19xl);
}
.progressContentWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-4xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color);
  font-family: var(--font-schibsted-grotesk);
}
@media screen and (max-width: 1125px) {
  .planComparison1,
.progressContent,
.progressContentWrapper {
  display: flex;
  align-items: flex-start;
  width: 90vw;
  margin-left: 1.5vw;

}
.planComparison1 {
  flex-direction: column;
}
.maaamet,
.tagsChild {
  max-width: 100vw;
  margin-right: 5vw;
  
}
.frameParent1,
.tags,
.theUltraPlanIsOurTopTierWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 85vw;
  margin-right: 5vw;
  
}
.theUltraPlan {
  max-width: 92%;
}
}

@media screen and (max-width: 450px) {
  .planComparison1{
    display: flex;
    align-items: flex-start;
    margin-left: -10rem;
    scale: 0.75;
  }
  .progressContent{
    width: 80vw;
    scale: 0.8;
  }
  .planComparison{
    margin-left: -5rem;
    
  }
  .progressContentWrapper {
    display: flex;
    align-items: flex-start;
    margin-left: 5rem;
  
  }
  .maaamet,
  .tagsChild {
    max-width: 80vw;
    margin-right: 100vw;
    
  }
  .frameParent1,
  .tags,
  .theUltraPlanIsOurTopTierWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 85vw;
    margin-right: 5vw;
    
  }
  .theUltraPlan {
    max-width: 92%;
  }
  
    .moreEffectiveWayContainer {
      margin: -5rem;
      margin-right: 5rem;
      line-height: 2.5rem;
      font-size: 1.5rem;
    }
  
}
