.getStarted{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-left: 5%;
    padding-right: 5%;
}


@media screen and (max-width: 1600px) {
    .getStarted{
        flex-wrap: wrap;
    }
  }
